:host {
  height: 100vh; /* Esto establece la altura del componente al 100% de la altura de la ventana */
}

.bg-gray-900 {
  height: 100%; /* Esto asegura que el fondo del menú se extienda hasta el final del componente */
}

.flex-1 {
  height: 100%; /* Esto asegura que el contenido se extienda hasta el final del componente */
}
