
/* Estilos para las lecciones recientes */
.lecciones-recientes {
  background-color: #3e9d4f;
}

.lecciones-recientes img {
  border-radius: 50%;
}

.lecciones-recientes h3 {
  margin-top: 0;
}

.lecciones-recientes p {
  margin-bottom: 0;
}