<div class="flex w-screen h-screen overflow-hidden">
  <div class="w-auto bg-blue-primary shadow-lg">
    <app-menu class="h-full"></app-menu>
  </div>
  <div class="flex flex-col w-full h-auto">
    <div class="bg-blue-primary items-end w-auto">
      <h2 class="text-xl font-bold m-auto text-end">Bienvenido a DevStream {{user}}</h2>
    </div>
    <!-- Contenido principal -->
    <div class="flex-1 grid-rows-2 bg-gray-100 w-auto p-4 m-3 rounded-lg shadow-md h-1/3 overflow-y-auto ">
      <h2 class="text-2xl font-bold m-auto">Categorías</h2>
      <app-categories></app-categories>
    </div>
    <!-- Botones para filtrado -->
    <div class=" bg-gray-100 p-4 w-auto mx-4 my-1 rounded-lg shadow-md h-1/10 items-center">
      <nav class="flex flex-row w-auto items-center justify-around">
        <button class="bg-blue-600 items-center text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-auto mb-1 hover:bg-blue-900"><a href="/home">TODO</a></button>
        <button class="bg-blue-600 items-center text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-auto mb-1 hover:bg-blue-900"><a href="/home">IA</a></button>
        <button class="bg-blue-600 items-center text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-auto mb-1 hover:bg-blue-900"><a href="/home">FRONTEND</a></button>
        <button class="bg-blue-600 items-center text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-auto mb-1 hover:bg-blue-900"><a href="/home">BACKEND</a></button>
        <button class="bg-blue-600 items-center text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-auto mb-1 hover:bg-blue-900"><a href="/home">DEVOPS</a></button>
        <button class="bg-blue-600 items-center text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-auto mb-1 hover:bg-blue-900"><a href="/home">SPRING BOOT</a></button>
      </nav>
    </div>
    <!-- Lecciones Recientes -->
    <div class="flex-1 grid-rows-2 bg-gray-100 p-4 w-auto m-3 rounded-lg shadow-md h-1/4 overflow-y-auto ">
      <h2 class="text-2xl font-bold mb-4">Lecciones Recientes</h2>
      <app-lecciones class="h-full"></app-lecciones>
    </div>
  </div>
</div>
