<div class="bg-gray-900 text-gray-100 w-64 flex flex-col">
  <div class="p-4 bg-blue-600">
    <h1 class="text-2xl font-bold">Menú</h1>
  </div>
  <img *ngIf="Show" src="../../assets/DevStream1.png" class="w-40 rounded-full mx-auto my-auto p-3" alt="">
  <ul class="flex-1 overflow-y-auto">
    <li class="p-4 hover:bg-gray-800 cursor-pointer" *ngIf="!Show">
      <a routerLink="/login" (click)="Show = !Show">Iniciar Sesión</a>
    </li>
    <li class="p-4 hover:bg-gray-800 cursor-pointer">
      <a href="#" *ngIf="Show">Home</a>
    </li>
    <li class="p-4 hover:bg-gray-800 cursor-pointer">
      <a href="#"*ngIf="Show">Lecciones</a>
    </li>
    <li class="p-4 hover:bg-gray-800 cursor-pointer">
      <a href="#" (click)="Mostrar = !Mostrar" *ngIf="Show">Mi Cuenta</a>
      <ul class="ml-4" *ngIf="Show">
        <li *ngIf="Mostrar" class="mt-2"><a href="#">Perfil</a></li>
        <li *ngIf="Mostrar" class="mt-2"><a href="#">Mis Lecciones</a></li>
        <li *ngIf="Mostrar" class="mt-2"><a href="#">Mis Evaluaciones</a></li>
        <li *ngIf="Mostrar" class="mt-2"><a href="#">Editar Información</a></li>
        <li *ngIf="Mostrar" class="mt-2"><a href="#">Contraseña</a></li>
        <li *ngIf="Mostrar" class="mt-2"><a href="#">Salir</a></li>
      </ul>
    </li>
    <li class="p-4 hover:bg-gray-800 cursor-pointer">
      <a href="#" *ngIf="Show" (click)="Show = !Show">Cerrar Sesión</a>
    </li>
  </ul>
</div>
<!-- owo -->
