<section class="flex flex-col items-center min-h-screen pt-6 sm:justify-center sm:pt-0 w-full h-full">
    <section class="flex flex-col items-center pt-6 sm:justify-center sm:pt-0">
        <h1 class="font-bold text-pretty text-6xl mb-10 text-black">Registrar</h1>
    </section>
    <div class="flex items-center">
        <section class="flex flex-col items-center pt-6 sm:justify-center sm:pt-0 w-full">
            <form action="" class="ml-2 w-full ">
                <input type="text" placeholder="Ingresa tu nombre" [(ngModel)]="inputName" name="name" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true" aria-describedby="nameHelp">
                
                <input type="text" placeholder="Ingresa tu apellido" [(ngModel)]="inputLastName" name="lastName" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true" minlength="2" maxlength="50">
                
                <input type="text" placeholder="Ingresa tu usuario de GitHub" [(ngModel)]="inputGithub" name="github" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true" pattern="^[a-zA-Z0-9]{1,39}$">
                
                <input type="date" placeholder="10/10/10" [(ngModel)]="inputDate" name="date" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true" max="{{ today | date:'yyyy-MM-dd' }}">
                
                <select [(ngModel)]="inputCarreer" name="carreer" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true">
                    <option disabled selected value>Selecciona una opción</option>
                    <option value="Systems Engineering">Systems Engineering</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Software Engineering">Software Engineering</option>
                    <option value="Data Science">Data Science</option>
                    <option value="Cyber Security">Cyber Security</option>
                    <option value="Machine Learning">Machine Learning</option>
                    <option value="Artificial Intelligence">Artificial Intelligence</option>
                    <option value="Big Data">Big Data</option>
                    <option value="Cloud Computing">Cloud Computing</option>
                    <option value="DevOps">DevOps</option>
                    <option value="Mobile Development">Mobile Development</option>
                    <option value="Other">Other</option>
                </select>
                
                <input type="tel" [(ngModel)]="inputPhone" name="phone" id="telefono" placeholder="Ingresa tu numero de telefono" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true">
                
                <input type="text" placeholder="Ingresa tu dirección" [(ngModel)]="inputAddress" name="address" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true">
                
                <input type="email" aria-describedby="emailHelp" name="email" id="email" placeholder="Ingresa tu correo electrónico" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true">
                
                <input type="password" name="password" id="" placeholder="Ingresa tu contraseña" class="border-2 border-blue-600 rounded-3xl px-5 py-2.5 text-sm font-medium text-gray-900 focus:ring-blue-500 focus:border-blue-500 block w-full mb-1" required="true">
                
                <button type="submit" class="bg-blue-600 text-white rounded-3xl px-5 py-2.5 text-sm font-medium focus:ring-blue-500 focus:border-blue-500 block w-full mb-1 hover:bg-blue-900">
                    <a href="/login">Registrarse</a>
                    
                </button>
            </form>
        </section>
        <section class="flex flex-col items-center pt-6 sm:justify-center sm:pt-0 rounded-sm ml-2">
            <img src="https://github.com/{{inputGithub}}.png" alt="" class="rounded-full">
        </section>
    </div>

</section>