<div class="grid grid-cols-4 h-auto gap-4 justify-between w-auto">
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    <!-- Tarjeta 1 -->
    <div class="h-auto rounded w-auto shadow-sm overflow-hidden m-auto items-center">
        <div class="max-w-xs rounded overflow-hidden shadow-md m-auto items-center">
            <section class="flex flex-row items-center mx-auto">
                <img class="w-3/12 mx-2" src="../../assets/DevStream1.png" alt="Curso 1" />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-1 text-center">Curso de Desarrollo Web 1</div>
                    <details class="text-gray-700 m-0">
                        <summary>Leer más</summary>
                        <p class="text-gray-700 text-base mx-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum purus sit amet nisi convallis.
                        </p>
                    </details>
                </div>
            </section>
            <div class="px-4 pb-2 m-0">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#HTML</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#CSS</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#JavaScript</span>
            </div>
        </div>
    </div>
    
</div>
