<div class="flex h-screen">
  <div class="w-1/4 bg-azul-principal">
    <app-menu class="h-full"></app-menu>
  </div>
  <div class="flex flex-row h-screen">
    <!-- Lecciones Recientes (lado izquierdo) -->
    <div class="flex-1 bg-gray-100 p-4">
      <h2 class="text-xl font-bold mb-4">Lecciones Recientes</h2>
      <!-- Aquí colocarías el componente o contenido de las lecciones recientes -->
    </div>

    <!-- Contenido principal (lado derecho) -->
    <div class="flex-1 bg-gray-200 p-4">
      <h2 class="text-xl font-bold mb-4">Contenido Principal</h2>
      <!-- Aquí colocarías el contenido principal de tu aplicación -->
    </div>
  </div>
</div>
