<div class="flex h-screen">
  <div class="w-1/4 bg-blue-primary shadow-lg">
    <app-menu class="h-full"></app-menu>
  </div>
  <div class="flex flex-row w-3/4">
    <!-- Lecciones Recientes (lado izquierdo) -->
    <div class="flex-1 bg-gray-100 p-4 m-4 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Lecciones Recientes</h2>
      <app-lecciones class="h-full"></app-lecciones>
    </div>
    <!-- Contenido principal (lado derecho) -->
    <div class="flex-1 flex flex-wrap justify-center overflow-y-auto">
      <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
        <!-- Contenido de la tarjeta 1 -->
        <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
          <img class="w-full" src="../../assets/DevStream1.png" alt="Curso 2" />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Curso de Desarrollo Web 2</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              elementum purus sit amet nisi convallis.
            </p>
          </div>
          <div class="px-6 py-4">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#HTML</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#CSS</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
              >#JavaScript</span
            >
          </div>
        </div>
      </div>
      <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
        <!-- Contenido de la tarjeta 2 -->
        <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
          <img class="w-full" src="../../assets/DevStream1.png" alt="Curso 2" />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Curso de Desarrollo Web 2</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              elementum purus sit amet nisi convallis.
            </p>
          </div>
          <div class="px-6 py-4">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#HTML</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#CSS</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
              >#JavaScript</span
            >
          </div>
        </div>
      </div>
      <!-- Agregar más tarjetas aquí -->
      <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
        <!-- Contenido de la tarjeta 2 -->
        <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
          <img class="w-full" src="../../assets/DevStream1.png" alt="Curso 2" />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Curso de Desarrollo Web 2</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              elementum purus sit amet nisi convallis.
            </p>
          </div>
          <div class="px-6 py-4">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#HTML</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#CSS</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
              >#JavaScript</span
            >
          </div>
        </div>
      </div>
      <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
        <!-- Contenido de la tarjeta 2 -->
        <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
          <img class="w-full" src="../../assets/DevStream1.png" alt="Curso 2" />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Curso de Desarrollo Web 2</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              elementum purus sit amet nisi convallis.
            </p>
          </div>
          <div class="px-6 py-4">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#HTML</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#CSS</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
              >#JavaScript</span
            >
          </div>
        </div>
      </div>
      <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
        <!-- Contenido de la tarjeta 2 -->
        <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
          <img class="w-full" src="../../assets/DevStream1.png" alt="Curso 2" />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Curso de Desarrollo Web 2</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              elementum purus sit amet nisi convallis.
            </p>
          </div>
          <div class="px-6 py-4">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#HTML</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >#CSS</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
              >#JavaScript</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
