<div class="bg-blanco p-4 rounded shadow">
  <h2 class="text-2xl font-bold text-gris-oscuro mb-4">Lecciones Recientes</h2>
  <ul class="list-none">
    <li class="mb-4 flex items-center">
      <img
        src="imagen1.jpg"
        class="w-20 h-20 rounded mr-4"
        alt="Imagen lección 1"
      />
      <div>
        <h3 class="text-lg font-medium text-gris-oscuro">Título lección 1</h3>
        <p class="text-sm text-gris-claro">Descripción breve de la lección 1</p>
      </div>
    </li>
  </ul>
</div>
